<div class="col-9" style="margin-top: 20px;">
    <ul class="pagination" id="pagination">
        <li class="page-item {% if pagination.is_first_page == Ture %}disabled{% endif %}">
            <a class="page-link"
               {% if pagination.is_first_page == False %}href="{{ pagination.url }}1" {% endif %}>< </a>
        </li>
    {% for page in pagination.pages %}
        <li class="page-item {% if page == pagination.current_page %} active{% endif %}">
            <a class="page-link"
               {% if page != '...' %}href="{{ pagination.url }}{{ page }}{% endif %}">{{ page }}</a>
        </li>
    {% endfor %}
        <li class="page-item {% if pagination.is_last_page == Ture %}disabled{% endif %}">
            <a class="page-link"
               {% if pagination.is_last_page == False %}href="{{ pagination.url }}{{ pagination.page_count }}" {% endif %}>></a>
        </li>
    </ul>
</div>